<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QSCAn.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <QSCAn.MySettings>
            <setting name="ImageJPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CellProfilerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceImageRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShadingCorrectionPrefix" serializeAs="String">
                <value>Brightfield Shading</value>
            </setting>
            <setting name="DarkCurrentCorrectionPrefix" serializeAs="String">
                <value>Dark Current</value>
            </setting>
            <setting name="AnalysisSuffix" serializeAs="String">
                <value> Analysis</value>
            </setting>
            <setting name="InputImagesDirName" serializeAs="String">
                <value>Input Images</value>
            </setting>
            <setting name="OutputDataDirName" serializeAs="String">
                <value>Output Data</value>
            </setting>
            <setting name="ImageJ_OpenAndExportChannelsFileName" serializeAs="String">
                <value>OpenAndExportChannels.ijm</value>
            </setting>
            <setting name="ImageJ_CalculateMedianImageFileName" serializeAs="String">
                <value>CalculateMedianImage.ijm</value>
            </setting>
            <setting name="CellProfiler_BackgroundCorrectionFileName" serializeAs="String">
                <value>0 - Background Correction.cp</value>
            </setting>
            <setting name="CellProfiler_IdentifyCellsFileName" serializeAs="String">
                <value>1 - Identify Cells and Background.cp</value>
            </setting>
            <setting name="CellProfiler_MeasureImageIntensitiesFileName"
                serializeAs="String">
                <value>2 - Measure Image Intensities and Finish Correction.cp</value>
            </setting>
            <setting name="CellProfiler_FilterCellsAndIdentifyCompartmentsFileName"
                serializeAs="String">
                <value>3 - Filter Cells and Identify Compartments.cp</value>
            </setting>
            <setting name="CellProfiler_CalculateLocalizationIndicesAndExportIntensitiesFileName"
                serializeAs="String">
                <value>4 - Calculate Localization Index and Export Intensity Data.cp</value>
            </setting>
            <setting name="BeepOnComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkCurrentIsTimeSeries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageJ_CalculateMedianImageTimeSeriesFileName"
                serializeAs="String">
                <value>CalculateMedianImageFromTimeSeries.ijm</value>
            </setting>
            <setting name="CellProfilerPluginsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAwake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckPipelineSuccess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfOtherCompartments" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Metadata" serializeAs="String">
                <value>.*\\(?P&lt;Strain&gt;.*) - (?P&lt;Condition&gt;.*) - Field (?P&lt;Field&gt;\S*).lsm</value>
            </setting>
            <setting name="NumberOfFluorescenceChannels" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SetMetadataManually" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Output_NormalizationFileName" serializeAs="String">
                <value>Within-Cell Image Intensities for Normalization.csv</value>
            </setting>
            <setting name="Output_CompartmentLocalizationData" serializeAs="String">
                <value>Compartment Localization Data.csv</value>
            </setting>
            <setting name="ShowCPActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CellProfilerLogFileName" serializeAs="String">
                <value>QSCAn CellProfiler Log.txt</value>
            </setting>
        </QSCAn.MySettings>
    </userSettings>
</configuration>
